@import "node_modules/millez-web-components/dist/assets/em";

.content {
    background-color: var(--support-11);
    width: 90%;
    max-width: 350px;
    border-radius: 8px;

    h3 {
        font-weight: 600;
        font-size: to-em(18);
        line-height: to-em(28);
        color: var(--white);
    }

    p {
        font-size: to-em(14);
        line-height: to-em(20);
        color: var(--emphasis-medium);
        text-align: center;
    }
}