@import "em";

h2 {
    font-weight: 600;
    font-size: to-em(18);
    color: var(--emphasis-high);
}

p {
    font-size: to-em(16);
    color: var(--emphasis-medium);
}

form {
    max-width: 480px;
}