@import "node_modules/millez-web-components/dist/assets/em";

h2 {
    font-weight: 700;
    font-size: to-em(30);
    margin: 0;
    color: var(--emphasis-high);
}

.profile-settings {
    font-weight: 400;
    font-size: to-em(14);
    color: var(--emphasis-medium);
    margin: 0;
}