<div class="d-flex flex-column h-100 w-100 justify-content-between">
  <div class="flex-grow-1">
    <h2 class="mt-0 mb-4">{{ 'CHOOSE_PHONE_NUMBER' | translate }}</h2>
    <p class="mt-0 mb-2">
      {{ 'THIS_PHONE_NUMBER_WILL_BE_USED' | translate }}
    </p>
    <cdk-phone-number
      [phoneValidated]="isPhoneValidated"
      [phoneAvailable]="isPhoneAvailable"
      [isLoading]="isLoading"
      (validatePhoneEvent)="checkIfPhoneIsAvailable($event)"
    ></cdk-phone-number>
  </div>

  <footer class="flex-grow-0">
    <button type="button" class="btn btn-dark me-3" (click)="back()">
      <i class="bi bi-chevron-left"></i> {{ 'BACK' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!isPhoneAvailable || !isPhoneValidated"
      [cdkLoadingButton]="savingData"
      (click)="next()"
    >
        <cdk-spinner>{{ 'CONTINUE' | translate }}</cdk-spinner>
    </button>
  </footer>
</div>
