<div class="d-flex flex-column h-100 w-100 justify-content-between">
    <div class="flex-grow-1 d-flex">
        <app-profile-preview [color]="color" [imageFile]="imageFile" [userName]="userName" [profileName]="profileName"></app-profile-preview>

        <div class="ms-4">
            <h2>{{ 'CHOSEN_A_PROFILE_NAME' | translate }}</h2>
            <p class="profile-settings mt-4">
                {{ 'OUR_PROFILE_SYSTEM' | translate }}
            </p>
            <p class="profile-settings mt-4">
                {{ 'MANAGE_AND_ORGANIZE' | translate }}
            </p>

            <form [formGroup]="form" class="mt-5 d-flex flex-column align-items-end">
                <div class="row-form right-icon w-100">
                    <input type="email" cdkInputValidation formControlName="name" />
                    <label>{{ 'PROFILE_NAME' | translate }}</label>
                    <small *ngIf="name && name.touched && name.errors">
                        <span *ngIf="name && name.errors['required']">{{ 'NAME_REQUIRED' | translate }}</span>
                        <span *ngIf="name && name.errors['minlength']">{{ 'NAME_SHOULD_BE_4' | translate }}</span>
                    </small>
                </div>
            </form>
        </div>
    </div>
    
    <footer class="flex-grow-0">
        <button type="button" class="btn btn-dark me-3" (click)="back()" #origin><i class="bi bi-chevron-left"></i> {{ 'BACK' | translate }}</button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="form.invalid"
            [cdkLoadingButton]="isLoading"
            (click)="next()"
            >
                <cdk-spinner>{{ 'CONTINUE' | translate }}</cdk-spinner>
            </button>
    </footer>
</div>