<div class="content h-100 d-flex justify-content-center pt-4">
    <app-profile-type-box
        [title]="'PROFILE' | translate"
        [text]="'YOU_ARE_ABLE_TO_CREATE' | translate"
        [buttonText]="'NEW_PROFILE' | translate"
        [buttonRoute]="routeToNewProfile"
        (buttonEvent)="navigateTo($event)"
    >
        <illustration-create-new-profile></illustration-create-new-profile>
    </app-profile-type-box>

    <app-profile-type-box
        [title]="'ORGANIZATION' | translate"
        [text]="'ORGANIZATIONS_ARE_A_NETWORK' | translate"
        [buttonText]="'NEW_ORGANIZATION' | translate"
        [buttonRoute]="routeToNewOrganization"
        buttonType="info"
        [disableButton]="true"
        (buttonEvent)="navigateTo($event)"
    >
        <illustration-create-new-organization></illustration-create-new-organization>
    </app-profile-type-box>
</div>

